<section class="about bg-white">
    <div class="container d-flex flex-column justify-content-center">
        <h2 class="section__title about__title text-center">Home Cleaning Service</h2>
        <p class="about__text text-center m-auto">We are a full-service cleaning company in
            London, which provides a wide range of high quality cleaning for a house, for a flat and for
            your office. Thousands of clients, who have entrusted us with cleaning their properties are
            already satisfied with our work.
            <span class="d-block">Our advantage is a high professionalism of house cleaning, punctuality and
                reasonable price
                <a href="#">policy in London.</a> If you need quality house cleaning - call us on <a
                    href="tel:8989898989898989">8989898989898989</a> or <a href="#form-book">book</a> your
                cleaning online.
            </span>
        </p>
    </div>
</section>