<section class="advantages">
    <div class="container">
        <h2 class="advantages__title section__title text-center">Why choose our cleaning services?</h2>
        <ul class="advantages__list m-auto">
            <li class="advantages__item">
                <p class="advantages__text text-center">A reliable company. Our services are used and
                    trusted by over 1000 of our clients on a regular basis</p>
            </li>
            <li class="advantages__item advantages__item--1">
                <p class="advantages__text text-center">A high level of professionalism. All our cleaners
                    have a great experience in cleaning services</p>
            </li>
            <li class="advantages__item advantages__item--2">
                <p class="advantages__text text-center">A profitable price. We provide cleaning services at
                    reasonable prices in London</p>
            </li>
        </ul>
    </div>
</section>