<section class="faq bg-white text-center pt-5 pb-5 @gap">
    <div class="container">
        <h2 class="section__title">Frequently Asked Questions</h2>
        <div class="faq__box row justify-content-center flex-column align-content-center">
            <details class="faq__item">
                <summary class="faq__question">What is included in a cleaning service?</summary>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repudiandae porro, reiciendis eos
                    distinctio laborum hic, neque perspiciatis atque aliquid necessitatibus. Aliquid repudiandae odit,
                    quos, laborum adipisci nobis iure ullam nulla aperiam accusamus ex deleniti architecto quam? Ipsa
                    nesciunt quod, eaque sequi quidem voluptatem enim eum exercitationem officia eius fugiat hic
                    reiciendis modi magni libero unde sapiente doloremque expedita similique at debitis provident
                    laudantium impedit. Ullam distinctio quos a nobis quod nulla, consectetur vero dolores reprehenderit
                    reiciendis excepturi, quis, totam consequuntur? Voluptatum, veniam! Assumenda rerum delectus
                    aspernatur, praesentium modi dicta voluptates saepe consequatur ipsa explicabo eum tenetur libero
                    officia cumque provident excepturi, quae, cupiditate perferendis porro inventore accusantium. Hic
                    asperiores iste excepturi delectus optio esse recusandae saepe magni aliquam perferendis, reiciendis
                    consequuntur possimus odio, voluptatibus tenetur reprehenderit quia veritatis nemo dolor. Ab eos
                    repellat minus porro quis magni, pariatur, accusantium eveniet et unde debitis odio tempora
                    voluptatibus laborum enim ipsam, odit adipisci quisquam suscipit ad quibusdam facere. Libero vel
                    atque eaque laborum, enim mollitia eos placeat repudiandae eius, blanditiis ex unde maiores
                    doloribus quod odit. Pariatur et ea, autem repellat hic optio id veritatis architecto quas ex odio
                    nihil impedit quam molestiae officia. Nobis aliquid ipsam repellendus maiores accusamus omnis?
                </p>
            </details>

            <details class="faq__item">
                <summary class="faq__question">Does the cleaner use his or her own cleaning products and
                    equipment
                    or
                    do I have to provide them?</summary>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repudiandae porro, reiciendis eos
                    distinctio laborum hic, neque perspiciatis atque aliquid necessitatibus. Aliquid repudiandae odit,
                    quos, laborum adipisci nobis iure ullam nulla aperiam accusamus ex deleniti architecto quam? Ipsa
                    nesciunt quod, eaque sequi quidem voluptatem enim eum exercitationem officia eius fugiat hic
                    reiciendis modi magni libero unde sapiente doloremque expedita similique at debitis provident
                    laudantium impedit. Ullam distinctio quos a nobis quod nulla, consectetur vero dolores reprehenderit
                    reiciendis excepturi, quis, totam consequuntur? Voluptatum, veniam! Assumenda rerum delectus
                    aspernatur, praesentium modi dicta voluptates saepe consequatur ipsa explicabo eum tenetur libero
                    officia cumque provident excepturi, quae, cupiditate perferendis porro inventore accusantium. Hic
                    asperiores iste excepturi delectus optio esse recusandae saepe magni aliquam perferendis, reiciendis
                    consequuntur possimus odio, voluptatibus tenetur reprehenderit quia veritatis nemo dolor. Ab eos
                    repellat minus porro quis magni, pariatur, accusantium eveniet et unde debitis odio tempora
                    voluptatibus laborum enim ipsam, odit adipisci quisquam suscipit ad quibusdam facere. Libero vel
                    atque eaque laborum, enim mollitia eos placeat repudiandae eius, blanditiis ex unde maiores
                    doloribus quod odit. Pariatur et ea, autem repellat hic optio id veritatis architecto quas ex odio
                    nihil impedit quam molestiae officia. Nobis aliquid ipsam repellendus maiores accusamus omnis?
                </p>
            </details>

            <details class="faq__item">
                <summary class="faq__question">May I use the same cleaner for regular cleaning?</summary>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repudiandae porro, reiciendis eos
                    distinctio laborum hic, neque perspiciatis atque aliquid necessitatibus. Aliquid repudiandae odit,
                    quos, laborum adipisci nobis iure ullam nulla aperiam accusamus ex deleniti architecto quam? Ipsa
                    nesciunt quod, eaque sequi quidem voluptatem enim eum exercitationem officia eius fugiat hic
                    reiciendis modi magni libero unde sapiente doloremque expedita similique at debitis provident
                    laudantium impedit. Ullam distinctio quos a nobis quod nulla, consectetur vero dolores reprehenderit
                    reiciendis excepturi, quis, totam consequuntur? Voluptatum, veniam! Assumenda rerum delectus
                    aspernatur, praesentium modi dicta voluptates saepe consequatur ipsa explicabo eum tenetur libero
                    officia cumque provident excepturi, quae, cupiditate perferendis porro inventore accusantium. Hic
                    asperiores iste excepturi delectus optio esse recusandae saepe magni aliquam perferendis, reiciendis
                    consequuntur possimus odio, voluptatibus tenetur reprehenderit quia veritatis nemo dolor. Ab eos
                    repellat minus porro quis magni, pariatur, accusantium eveniet et unde debitis odio tempora
                    voluptatibus laborum enim ipsam, odit adipisci quisquam suscipit ad quibusdam facere. Libero vel
                    atque eaque laborum, enim mollitia eos placeat repudiandae eius, blanditiis ex unde maiores
                    doloribus quod odit. Pariatur et ea, autem repellat hic optio id veritatis architecto quas ex odio
                    nihil impedit quam molestiae officia. Nobis aliquid ipsam repellendus maiores accusamus omnis?
                </p>
            </details>

            <details class="faq__item">
                <summary class="faq__question">Do I have to pay if I do not need the cleaning service for
                    some
                    time?</summary>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem repudiandae porro, reiciendis eos
                    distinctio laborum hic, neque perspiciatis atque aliquid necessitatibus. Aliquid repudiandae odit,
                    quos, laborum adipisci nobis iure ullam nulla aperiam accusamus ex deleniti architecto quam? Ipsa
                    nesciunt quod, eaque sequi quidem voluptatem enim eum exercitationem officia eius fugiat hic
                    reiciendis modi magni libero unde sapiente doloremque expedita similique at debitis provident
                    laudantium impedit. Ullam distinctio quos a nobis quod nulla, consectetur vero dolores reprehenderit
                    reiciendis excepturi, quis, totam consequuntur? Voluptatum, veniam! Assumenda rerum delectus
                    aspernatur, praesentium modi dicta voluptates saepe consequatur ipsa explicabo eum tenetur libero
                    officia cumque provident excepturi, quae, cupiditate perferendis porro inventore accusantium. Hic
                    asperiores iste excepturi delectus optio esse recusandae saepe magni aliquam perferendis, reiciendis
                    consequuntur possimus odio, voluptatibus tenetur reprehenderit quia veritatis nemo dolor. Ab eos
                    repellat minus porro quis magni, pariatur, accusantium eveniet et unde debitis odio tempora
                    voluptatibus laborum enim ipsam, odit adipisci quisquam suscipit ad quibusdam facere. Libero vel
                    atque eaque laborum, enim mollitia eos placeat repudiandae eius, blanditiis ex unde maiores
                    doloribus quod odit. Pariatur et ea, autem repellat hic optio id veritatis architecto quas ex odio
                    nihil impedit quam molestiae officia. Nobis aliquid ipsam repellendus maiores accusamus omnis?
                </p>
            </details>
        </div>
    </div>
</section>