<footer class="footer">
    <div class="container">
        <div class="footer__inner mb-4">
            <div class="footer__sections row">
                <div class="footer__sevices col">
                    <h3 class="footer__title footer__drop-1">Our Services</h3>
                    <ul class="footer__list footer__list-1">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Regular Cleaning</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Weekly Cleaning</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Monthly Cleaning</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Flat Cleaning</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Domestic Cleaning</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Office Cleaning</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">After Builder Cleaning</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">End of Tenancy Cleaning</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Cleaning Service for Move In/Out</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">New House Cleaning</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__info col">
                    <h3 class="footer__title footer__drop-2">Information</h3>
                    <ul class="footer__list footer__list-2">
                        <li class="footer__item">
                            <a href="#" class="footer__link">About Us</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">How it Works</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">FAQs</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Testimonials</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Terms & Conditions</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Cleaners List</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Commercial Cleaning List</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Cleaning Contracts Templates</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__available col">
                    <h3 class="footer__title footer__drop-3">Available in</h3>
                    <ul class="footer__list footer__list-3">
                        <li class="footer__item">
                            <a href="#" class="footer__link">Cleaning West London</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Cleaning East London</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Cleaning North London</a>
                        </li>
                        <li class="footer__item">
                            <a href="#" class="footer__link">Flat Cleaning</a>
                        </li>
                    </ul>
                </div>
                <div
                    class="footer__contact col-sm  d-flex flex-column  align-items-center align-items-md-start justify-content-center justify-content-sm-start">
                    <h3 class="footer__title d-none d-md-block">Contact</h3>
                    <a href="tel:027 777 852 1" class="footer__phone d-block text-decoration-underline">027 777
                        852
                        1</a>
                    <a href="mailto: mailtome@sitetoclean.co.uk" class="footer__mail d-block">
                        mailtome@sitetoclean.co.uk</a>
                    <span class="d-block" style="background-image: url('images/sprite.svg#stars');"></span>
                    <div class="footer__book col col-sm-2 d-block">
                        <button type="button" class="footer__btn d-block">Book now</button>
                    </div>
                    <ul class="footer__socials d-flex">
                        <li class="footer__social d-block">
                            <a href="#" class="footer__social-link">
                                <svg class="footer__social-icon">
                                    <use xlink:href="images/sprite.svg#twitter"></use>
                                </svg>
                            </a></li>
                        <li class="footer__social d-block">
                            <a href="#" class="footer__social-link">
                                <svg class="footer__social-icon">
                                    <use xlink:href="images/sprite.svg#youtube"></use>
                                </svg>
                            </a></li>
                        <li class="footer__social d-block">
                            <a href="#" class="footer__social-link">
                                <svg class="footer__social-icon">
                                    <use xlink:href="images/sprite.svg#facebook"></use>
                                </svg>
                            </a></li>
                        <li class="footer__social d-block">
                            <a href="#" class="footer__social-link">
                                <svg class="footer__social-icon">
                                    <use xlink:href="images/sprite.svg#insta"></use>
                                </svg>
                            </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom d-block text-center">
                <a href="#" class="footer__bottom-link">© 2023 SmartHomeClean London Cleaning </a>
            </div>
        </div>
    </div>
</footer>