<header class="header w-100" id="header">
    <div class="container">
        <div class="header__inner justify-content-between align-items-center  text-center">
            <div class="logo">
                <a href="#index.html" class="logo__link w-100">
                    <img src="images/sprite.svg#logo" alt="logo" class="logo__img">
                </a>
            </div>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item menu__item-home"> <a href="index.html" class="menu__link">Home</a> </li>
                    <li class="menu__item menu__item-services"> <a href="services.html" class="menu__link">Services</a> </li>
                    <li class="menu__item menu__item-available">
                        <a href="#" class="menu__link">Available in</a>
                        <ul class="menu__sub-item position-absolute">
                            <li class="menu__sub-link"><a href="#">Cleaning West London</a></li>
                            <li class="menu__sub-link"><a href="#">Cleaning East London</a></li>
                            <li class="menu__sub-link"><a href="#">Cleaning North London</a></li>
                        </ul>
                    </li>
                    <li class="menu__item menu__item-price"> <a href="#" class="menu__link">Price</a> </li>
                    <li class="menu__item menu__item-information"> <a href="#" class="menu__link">Information</a> </li>
                    <li class="menu__item menu__item-blog"> <a href="#" class="menu__link">Blog</a> </li>
                    <li class="menu__item menu__item-contact"> <a href="#" class="menu__link">Contact us</a> </li>
                </ul>
                <div class="footer__sections row">
                    <div class="footer__sevices col pe-md-3">
                        <h3 class="footer__title footer__drop-1">Our Services</h3>
                        <ul class="footer__list footer__list-1">
                            <li class="footer__item">
                                <a href="#" class="footer__link">Regular Cleaning</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Weekly Cleaning</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Monthly Cleaning</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Flat Cleaning</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Domestic Cleaning</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Office Cleaning</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">After Builder Cleaning</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">End of Tenancy Cleaning</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Cleaning Service for Move In/Out</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">New House Cleaning</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__info col pe-md-3">
                        <h3 class="footer__title footer__drop-2">Information</h3>
                        <ul class="footer__list footer__list-2">
                            <li class="footer__item">
                                <a href="#" class="footer__link">About Us</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">How it Works</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">FAQs</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Testimonials</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Terms & Conditions</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Cleaners List</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Commercial Cleaning List</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Cleaning Contracts Templates</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__available col pe-md-3">
                        <h3 class="footer__title footer__drop-3">Available in</h3>
                        <ul class="footer__list footer__list-3">
                            <li class="footer__item">
                                <a href="#" class="footer__link">Cleaning West London</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Cleaning East London</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Cleaning North London</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Flat Cleaning</a>
                            </li>
                        </ul>
                    </div>
                    <div
                        class="footer__contact col-sm  d-flex flex-column  align-items-center align-items-md-start justify-content-center justify-content-sm-start">
                        <h3 class="footer__title d-none d-md-block">Contact</h3>
                        <div class="footer__book col d-block m-auto">
                            <a class="footer__btn d-block" href="#form-book">Book now</a>
                        </div>
                        <a href="tel:+440277778521" class="footer__phone d-block text-decoration-underline">027777
                            852
                            1
                        </a>
                        <div class="contacts__time d-block">
                            <span class="d-inline-block w-100">Mondey to friday:
                                <time class="contacts__time-descr w-100">7:00 AM -
                                    22:00
                                    PM
                                </time>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="contacts d-sm-block">
                <a href="tel:+440277778521" class="contacts__phone">027 777 852 1</a>
                <div class="contacts__time d-block">
                    <span class="d-inline-block">Mondey to friday: <time class="contacts__time-descr">7:00 AM -
                            22:00
                            PM</time>
                    </span>
                </div>
            </div>

            <div class="header__book">
                <button type="button" class="header__btn">Book now</button>
            </div>
            <div class="burger-wrapper">
                <button class="burger" type="button">
                    <span class="burger__line"></span>
                    <span class="sr-only">Открыть меню</span>
                </button>
            </div>
        </div>
    </div>
</header>