<section class="reviews @gap">
    <div class="container row">
        <h2 class="section__title reviews__title text-center">Service Reviews</h2>
        <ul class="reviews__list">
            <li
                class="reviews__item bg-white d-flex flex-column align-items-center justify-content-center text-center">
                <img src="images/rev/review1.png" alt="reviewer photo" class="reviews__img">
                <img src="images/sprite.svg#stars4" alt="reviews rating" class="reviews__rating">
                <blockquote class="reviews__bloquote">
                    <span class="reviews__name d-block">Eleanor Pena</span>
                    <p class="reviews__text">Did an excellent end of tenancy clean for me. Very professional
                        and thorough, done at very short notice.</p>
                </blockquote>
            </li>
            <li
                class="reviews__item bg-white d-flex flex-column align-items-center justify-content-center text-center">
                <img src="images/rev/review2.png" alt="reviewer photo" class="reviews__img">
                <img src="images/sprite.svg#stars4" alt="reviews rating" class="reviews__rating">
                <blockquote class="reviews__bloquote">
                    <span class="reviews__name d-block">Floyd Miles</span>
                    <p class="reviews__text">Did an excellent end of tenancy clean for me. Very professional
                        and thorough, done at very short notice.</p>
                </blockquote>
            </li>
            <li
                class="reviews__item bg-white d-flex flex-column align-items-center justify-content-center text-center">
                <img src="images/rev/review3.png" alt="reviewer photo" class="reviews__img">
                <img src="images/sprite.svg#stars4" alt="reviews rating" class="reviews__rating">
                <blockquote class="reviews__bloquote">
                    <span class="reviews__name d-block">Courtney Henry</span>
                    <p class="reviews__text">Did an excellent end of tenancy clean for me. Very professional
                        and thorough, done at very short notice.</p>
                </blockquote>
            </li>
            <li
                class="reviews__item bg-white d-flex flex-column align-items-center justify-content-center text-center">
                <img src="images/rev/review4.png" alt="reviewer photo" class="reviews__img">
                <img src="images/sprite.svg#stars4" alt="reviews rating" class="reviews__rating">
                <blockquote class="reviews__bloquote">
                    <span class="reviews__name d-block">Jenny Wilson</span>
                    <p class="reviews__text">Did an excellent end of tenancy clean for me. Very professional
                        and thorough, done at very short notice.</p>
                </blockquote>
            </li>
            <li
                class="reviews__item bg-white d-flex flex-column align-items-center justify-content-center text-center">
                <img src="images/rev/review4.png" alt="reviewer photo" class="reviews__img">
                <img src="images/sprite.svg#stars4" alt="reviews rating" class="reviews__rating">
                <blockquote class="reviews__bloquote">
                    <span class="reviews__name d-block">Jenny Wilson</span>
                    <p class="reviews__text">Did an excellent end of tenancy clean for me. Very professional
                        and thorough, done at very short notice.</p>
                </blockquote>
            </li>
            <li
                class="reviews__item bg-white d-flex flex-column align-items-center justify-content-center text-center">
                <img src="images/rev/review3.png" alt="reviewer photo" class="reviews__img">
                <img src="images/sprite.svg#stars4" alt="reviews rating" class="reviews__rating">
                <blockquote class="reviews__bloquote">
                    <span class="reviews__name d-block">Courtney Henry</span>
                    <p class="reviews__text">Did an excellent end of tenancy clean for me. Very professional
                        and thorough, done at very short notice.</p>
                </blockquote>
            </li>
            <li
                class="reviews__item bg-white d-flex flex-column align-items-center justify-content-center text-center">
                <img src="images/rev/review4.png" alt="reviewer photo" class="reviews__img">
                <img src="images/sprite.svg#stars4" alt="reviews rating" class="reviews__rating">
                <blockquote class="reviews__bloquote">
                    <span class="reviews__name d-block">Jenny Wilson</span>
                    <p class="reviews__text">Did an excellent end of tenancy clean for me. Very professional
                        and thorough, done at very short notice.</p>
                </blockquote>
            </li>
            <li
                class="reviews__item bg-white d-flex flex-column align-items-center justify-content-center text-center">
                <img src="images/rev/review4.png" alt="reviewer photo" class="reviews__img">
                <img src="images/sprite.svg#stars4" alt="reviews rating" class="reviews__rating">
                <blockquote class="reviews__bloquote">
                    <span class="reviews__name d-block">Jenny Wilson</span>
                    <p class="reviews__text">Did an excellent end of tenancy clean for me. Very professional
                        and thorough, done at very short notice.</p>
                </blockquote>
            </li>
        </ul>
        <a href="#form-book" class="reviews__btn m-auto">Book now</a>
    </div>
</section>