<section class="work-steps">
    <div class="container">
        <h2 class="section__title text-center">
            How it Works
        </h2>
        <ul class="work-steps__list text-center">
            <li class="work-steps__item d-flex flex-column justify-content-start align-items-center">
                <div class="work-steps__img-wrap rounded-circle bg-white">
                    <img src="images/logo-st1.png" alt="logo-steps" class="work-steps__img">
                </div>
                <span class="work-steps__step text-center">Step 1</span>
                <p class="work-steps__text">Call us or go to the house cleaning booking page on our
                    website
                </p>
            </li>
            <li class="work-steps__item  d-flex flex-column justify-content-start align-items-center">
                <div class="work-steps__img-wrap work-steps__img-wrap--decor2 rounded-circle bg-white">
                    <img src="images/logo-st2.png" alt="logo-steps" class="work-steps__img">
                </div>
                <span class="work-steps__step text-center">Step 2</span>
                <p class="work-steps__text">Choose a list of cleaning services you are interested in</p>
            </li>
            <li class="work-steps__item d-flex flex-column justify-content-start align-items-center">
                <div class="work-steps__img-wrap work-steps__img-wrap--decor3 rounded-circle bg-white">
                    <img src="images/logo-st3.png" alt="logo-steps" class="work-steps__img">
                </div>
                <span class="work-steps__step text-center">Step 3</span>
                <p class="work-steps__text">Choose a convenient time and date</p>
            </li>
            <li class="work-steps__item  d-flex flex-column justify-content-start align-items-center">
                <div class="work-steps__img-wrap work-steps__img-wrap--decor4 rounded-circle bg-white">
                    <img src="images/logo-st4.png" alt="logo-steps" class="work-steps__img">
                </div>
                <span class="work-steps__step text-center">Step 4</span>
                <p class="work-steps__text">Get a perfect cleaning service for your property</p>
            </li>
        </ul>
    </div>
</section>